language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  fast_finish: true

sudo: false

before_install:
  - pip install --user codecov

install:
  - composer install

after_success:
  - codecov

cache:
  directories:
    - $HOME/.composer/cache
