<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
    <!-- Show progress and sniff codes -->
    <arg value="ps"/>

    <arg name="cache" value=".php_cs.cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <!-- Make sniff report relative -->
    <arg name="basepath" value="."/>

    <file>src</file>
    <file>tests</file>
    <file>benchmark.php</file>
    <file>benchmark-context.php</file>
    <file>benchmark-plural.php</file>

    <rule ref="PhpMyAdmin"/>

    <rule ref="SlevomatCodingStandard.Classes.ConstantSpacing.IncorrectCountOfBlankLinesAfterConstant">
        <exclude-pattern>src/MoParser.php</exclude-pattern>
        <exclude-pattern>src/Translator.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly.ReferenceViaFullyQualifiedName">
        <exclude-pattern>benchmark.php</exclude-pattern>
        <exclude-pattern>benchmark-context.php</exclude-pattern>
        <exclude-pattern>benchmark-plural.php</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingNativeTypeHint">
        <exclude-pattern>src/functions.php</exclude-pattern>
    </rule>
    <rule ref="Squiz.Functions.GlobalFunction.Found">
        <exclude-pattern>src/functions.php</exclude-pattern>
    </rule>

    <rule ref="SlevomatCodingStandard.Commenting.RequireOneLineDocComment.MultiLineDocComment">
        <severity>4</severity>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingTraversableTypeHintSpecification">
        <severity>4</severity>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingTraversableTypeHintSpecification">
        <severity>4</severity>
    </rule>
</ruleset>
