includes:
    - phpstan-baseline.neon
parameters:
    level: max
    paths:
        - src
        - tests
    checkBenevolentUnionTypes: true
    checkDynamicProperties: true
    checkImplicitMixed: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
