parameters:
	ignoreErrors:
		-
			message: "#^Method PhpMyAdmin\\\\MoTranslator\\\\Loader\\:\\:listLocales\\(\\) should return array\\<string\\> but returns array\\<int, string\\|null\\>\\.$#"
			count: 1
			path: src/Loader.php

		-
			message: "#^Strict comparison using \\=\\=\\= between string and false will always evaluate to false\\.$#"
			count: 1
			path: src/StringReader.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: src/Translator.php

		-
			message: "#^Strict comparison using \\=\\=\\= between non\\-empty\\-array\\<int, string\\> and false will always evaluate to false\\.$#"
			count: 1
			path: src/Translator.php

		-
			message: "#^Method PhpMyAdmin\\\\MoTranslator\\\\Tests\\\\LoaderTest\\:\\:localeList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/LoaderTest.php

		-
			message: "#^Method PhpMyAdmin\\\\MoTranslator\\\\Tests\\\\LoaderTest\\:\\:testListLocales\\(\\) has parameter \\$expected with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/LoaderTest.php

		-
			message: "#^Method PhpMyAdmin\\\\MoTranslator\\\\Tests\\\\LoaderTest\\:\\:translatorData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/LoaderTest.php

		-
			message: "#^Method PhpMyAdmin\\\\MoTranslator\\\\Tests\\\\MoFilesTest\\:\\:getFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/MoFilesTest.php

		-
			message: "#^Method PhpMyAdmin\\\\MoTranslator\\\\Tests\\\\MoFilesTest\\:\\:provideErrorMoFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/MoFilesTest.php

		-
			message: "#^Method PhpMyAdmin\\\\MoTranslator\\\\Tests\\\\MoFilesTest\\:\\:provideMoFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/MoFilesTest.php

		-
			message: "#^Method PhpMyAdmin\\\\MoTranslator\\\\Tests\\\\MoFilesTest\\:\\:provideNotTranslatedFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/MoFilesTest.php

		-
			message: "#^Method PhpMyAdmin\\\\MoTranslator\\\\Tests\\\\PluralFormulaTest\\:\\:pluralCounts\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/PluralFormulaTest.php

		-
			message: "#^Method PhpMyAdmin\\\\MoTranslator\\\\Tests\\\\PluralFormulaTest\\:\\:pluralExpressions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/PluralFormulaTest.php

		-
			message: "#^Method PhpMyAdmin\\\\MoTranslator\\\\Tests\\\\PluralFormulaTest\\:\\:pluralExtractionData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/PluralFormulaTest.php

		-
			message: "#^Method PhpMyAdmin\\\\MoTranslator\\\\Tests\\\\PluralTest\\:\\:dataProviderPluralForms\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/PluralTest.php

		-
			message: "#^Method PhpMyAdmin\\\\MoTranslator\\\\Tests\\\\PluralTest\\:\\:providerTestNpgettext\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/PluralTest.php

