<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         cacheDirectory="build/.phpunit.cache">
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Main">
      <directory suffix=".php">./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="display_errors" value="On"/>
    <ini name="display_startup_errors" value="On"/>
    <ini name="error_reporting" value="E_ALL"/>
  </php>
</phpunit>
