name: Run tests

on:
  push:
  pull_request:

jobs:
  test-php:
    name: Test on PHP ${{ matrix.php-version }} (${{ matrix.extensions }})
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        php-version: ['8.1', '8.2', '8.3']
        extensions: [':apcu, mbstring', 'apcu, mbstring']
        os: [ubuntu-latest]
        experimental: [false]
        composer-options: ['']
        include:
          - { php-version: '8.4', experimental: true, os: ubuntu-latest, composer-options: '--ignore-platform-req=php+', extensions: 'apcu, mbstring' }
          - { php-version: '8.4', experimental: true, os: ubuntu-latest, composer-options: '--ignore-platform-req=php+', extensions: ':apcu, mbstring' }
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Fetch some commits for Scrutinizer coverage upload
          fetch-depth: 15

      - name: Set up PHP ${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: ${{ matrix.extensions }}
          ini-values: "apc.enable_cli=1"
          coverage: xdebug

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v2
        with:
          dependency-versions: highest
          composer-options: ${{ matrix.composer-options }}

      - name: Run php tests
        run: composer run phpunit -- --display-deprecations --display-notices --display-warnings --display-errors --display-skipped

      - name: Send coverage
        uses: codecov/codecov-action@v3
        with:
          flags: unit-${{ matrix.php-version }}-${{ matrix.os }}
          name: phpunit-${{ matrix.php-version }}-${{ matrix.os }}

      - name: Send coverage to Scrutinizer
        uses: sudo-bot/action-scrutinizer@latest
        # Do not run this step on forked versions of the main repository (example: contributor forks)
        if: github.repository == 'phpmyadmin/motranslator'
        with:
          cli-args: "--format=php-clover build/logs/clover.xml --revision=${{ github.event.pull_request.head.sha || github.sha }}"
